

    
.animate 
  -webkit-animation-duration: 0.75s
  animation-duration: 0.75s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

.one 
 -webkit-animation-delay: 0.75s
 -moz-animation-delay: 0.75s
 animation-delay: 0.75s

@-webkit-keyframes fadeInUp 
  from 
    opacity: 0
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)


  to 
    opacity: 1
    -webkit-transform: none
    transform: none
  

@keyframes fadeInUp 
  from 
    opacity: 0
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
  

  to 
    opacity: 1
    -webkit-transform: none
    transform: none
  


.fadeInUp 
  -webkit-animation-name: fadeInUp
  animation-name: fadeInUp



.navbar
    background-color: $navRed
    font-family: 'Poppins', sans-serif
    font-weight: 400
    line-height: 1.4
    font-size: 20px

    
.titleW
 
    font-size: 2.2rem
 
 
.about
    @extend %middleSection
    height: 100vh
   

.hey
    font-size: 4rem
    @extend %h2M

.web
    @extend %h3
    color: #be3144

  
.buttoms
    text-align: center

.projects
    text-align: center
    padding: 7rem 2rem
    background-color: $projectBg

.titleP
 max-width: 640px
 margin: 0 auto 6rem auto
 border-bottom: 0.2rem solid $heyText
 @extend %h2M

.project-image 
    height: calc(100% - 6.8rem)
    width: 100%
    object-fit: cover

.project 
    
    box-shadow: 1px 1px 2px 
    border-radius: 2px
    text-decoration: none
    color: $heyText
   
.project-title 
    font-size: 1rem
    padding: 1rem 0.5rem
    background: $imageBg

.contact
    @extend %middleSection
    height: 80vh
    
.coffee
    @extend %h3
    color: $heyText
    font-size: 2rem

.work
    @extend %h2M
    font-size: 4rem
    
.contact-details 
    font-size: 1.2rem
    text-shadow: 2px 2px 1px #1f1f1f
    transition-property: transform
    transition-duration: 0.3s
    transition-timing-function: ease-out
    transition-delay: 0s 
    color: $heyText

.footer
    font-weight: 300
    display: flex
    justify-content: space-evenly
    padding: 2rem
    background: $imageBg
    border-top: 4px solid $navRed
    color: $heyText

.animation
    animation: transitionIn 0.75s

@keyframes transitionIn 
  from 
    opacity: 0
    transform: rotateX('-10deg')
  

  to 
    opacity: 1
     transform: rotateX('0')


.skill
    @extend %middleSection